header {
  background: radial-gradient(circle at bottom center, red, yellow);
  color: white;
  font-family: 'Joti One', cursive, sans-serif;
  font-size: 32px;
  text-align: center;
  width: 100vw;
  height: 50vh;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

header h1 {
  padding-top: 100px;
  margin: 0;
}
h2 {
  text-decoration-color: red;
  text-align: center;
  color: red;
}
h3 {
  text-decoration-color: red;
  text-align: center;
  color: red;
}

nav {
  background: black;
  padding: 0 10px;
}
nav a {
  color: #ccc;
  display: inline-block;
  font-weight: 850;
  padding: 5px 10px;
  text-decoration: none;
}
nav a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
nav a:hover {
  color: white;
}

main {
  display: flex;
  flex-direction: row;
}

section {
  flex-grow: 1;
  padding: 2rem 5vw;
}

aside img {
  width: 30vw;
  max-width: 400px;
}

a:visited {
  text-decoration-color: black;
}
a {
  text-decoration-color: black;
}
a:hover {
  text-decoration-color: black;
}

p {
  text-align: center;
}

footer {
  height: 200px;
  border-color: darkorange;
  background-color: #eee;
  border-width: 5px;
  border-bottom-color: black;
  border-color: black;
  text-align: center;
  text-decoration-color: red;
  text-decoration: none;
}

iframe {
  display: center;
  border: 5px;
}

.image-grid {
  list-style: none;
}

.image-grid li {
  display: inline-block;
  margin: 0.2rem;
}

.image-grid a {
  text-decoration: none;
}
